<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
   
</head>
<body>
    <div class="overlay"></div>
    <div class="form">
        <div class="menu">
            <h1>Iniciar Sesión</h1>
            <form action="{% url 'inicio_sesion' %}" method="post">
                {% csrf_token %}
                
                <!-- Mensajes de error -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="field-wrap">
                    <label> Correo Electrónico<span class="req">*</span> </label>
                    <input type="email" name="email" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label> Contraseña<span class="req">*</span> </label>
                    <input type="password" name="password" required autocomplete="off"/>
                </div>

                <p class="forgot"><a href="#"> Olvidé Mi Contraseña</a></p>
                <button type="submit" class="button button-block">Inicio Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
